<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Be a member</title>
</head>
<body>
    <h1>Be a member of Sudan !</h1>
    <h2><em>Welcome again</em></h2><br>
    <h2>If you have already an acount, you can: <a href="/login"><em>Login</em></a></h2>
    <h2>If not, you can: <a href="/register"><em>Register</em></a></h2>
</body>
</html>